@model IEnumerable<DtlK22CNT4Lesson07DF.Models.dtlKhoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "DtlCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtlTenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtlTrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtlTenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtlTrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "DtlEdit", new { id=item.dtlMaKH.Trim() }) |
            @Html.ActionLink("Details", "DtlDetails", new { id=item.dtlMaKH.Trim() }) |
            @Html.ActionLink("Delete", "DtlDelete", new { id=item.dtlMaKH.Trim() })
        </td>
    </tr>
}

</table>
