@model DtlLesson11_OnTap.Models.DtlCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DtlCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlCateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlCateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DtlId }) |
    @Html.ActionLink("Back to List", "DtlIndex")
</p>
