@model Dtl_K22Cnt4_DF.Models.SinhVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.TenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "DtlEdit", new { id = Model.MaSV.Trim() }) |
    @Html.ActionLink("Back to List", "DtlIndex")
</p>
