@model Dtl_K22Cnt4_DF.Models.SinhVien

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.TenKH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DtlIndex")
        </div>
    }
</div>
