@model DtlLesson12_Ontap.Models.DTL_SACH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTL_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dtl_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtl_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dtl_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtl_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dtl_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtl_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dtl_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtl_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTL_TACGIA.Dtl_TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTL_TACGIA.Dtl_TenTG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "DtlEdit", new { id = Model.Dtl_MaSach.Trim() }, new { @class = "btn btn-primary my-2" }) |
    @Html.ActionLink("Back to List", "DtlIndex", null, new { @class = "btn btn-primary my-2" })
</p>
